.access {
  background-color: var(--desaturated-blue);
  padding-top: 6.25rem;
  padding-bottom: 5rem;
}

.access-col-1 {
  min-width: 2.75rem;
}

.access-col-2 {
  min-width: 2.75rem;
}

.access-form {
  height: 8.75rem;
  padding: 0.938rem 2.688rem 0px 7.5rem;
  justify-content: space-between;
}

#access-input {
  padding: 0 1.25rem;
  height: 3.125rem;
  font-size: 0.875rem;
}

.access-title {
  font-size: 2rem;
  margin-bottom: 0.875rem;
}

.access-text {
  line-height: 1.625em;
  width: 80%;
}

@media only screen and (max-width: 90rem) {
  .access {
    flex-wrap: wrap;
    width: 100%;
    gap: 1.875rem;
  }

  .access-col-1 {
    text-align: center;
  }

  .access-text {
    margin: 0% auto;
  }

  #access-button {
    width: 100%;
  }

  .access-form {
    padding: 0.938rem 2.688rem 0 2.688rem;
  }
}

@media only screen and (max-width: 660px) {
  .access-col-1 {
    max-width: 100%;
    min-width: fit-content;
  }

  .access-col-2 {
    max-width: 100%;
    min-width: fit-content;
  }

  .access-title {
    font-size: 1.125rem;
  }

  .access-text {
    font-size: 0.875rem;
  }
}
