header {
  padding: 0 5rem;
  padding-top: 4.063rem;
}

.primary-nav,
.nav-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-list {
  list-style: none;
  color: var(--very-dark-blue);
  gap: 3.563rem;
}

.nav-link {
  font-size: 1rem;
  font-weight: 700;
}

.nav-link:hover {
  color: var(--bright-blue);
}

@media only screen and (max-width: 41.25rem) {
  header {
    padding: 0px 1.5rem;
    padding-top: 1.5rem;
  }

  .nav-logo {
    width: 5rem;
  }

  .nav-list {
    gap: 1.5rem;
  }

  .nav-link {
    font-size: 0.75rem;
  }
}
