.hero {
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: center;
  margin-top: 5.313rem;
  height: fit-content;
  padding-bottom: 13.75rem;
}

.hero-col-1 {
  padding-left: 3px;
  width: 50%;
  min-width: 38.75rem;
}

.hero-col-2 {
  width: 50%;
  min-width: 38.75rem;
}

.hero-title {
  font-weight: 700;
  font-size: 2.5rem;
  color: var(--very-dark-blue);
  padding-top: 4.814rem;
  margin-bottom: 1rem;
}

.hero-text {
  margin-bottom: 1.25rem;
}

.cta-container {
  display: flex;
  gap: 0.875rem;
}

.input-wrapper {
  display: flex;
  flex-direction: column;
}

#hero-input {
  width: 20rem;
  padding: 0px 1.25rem;
  height: 3.125rem;
  font-size: 0.875rem;
}

@media only screen and (max-width: 90rem) {
  .hero {
    text-align: center;
  }

  .cta-container {
    display: grid;
    gap: 1.25rem;
    grid-template-rows: 2;
    grid-template-columns: 1fr;
  }

  #hero-input {
    width: 100%;
  }

  #hero-button {
    width: 100%;
  }
}

@media only screen and (max-width: 41.25rem) {
  .hero {
    padding-bottom: 7.5rem;
  }

  .hero-col-1 {
    min-width: fit-content;
  }

  .hero-col-2 {
    min-width: fit-content;
  }

  .hero-title {
    font-size: 1.375rem;
  }
}
