.productivity {
  height: fit-content;
  background-color: var(--light-grayish-blue);
  padding-bottom: 100px;
}

.product-col-1 {
  width: 52%;
  min-width: 38.75rem;
}

.product-col-2 {
  width: 48%;
  min-width: 31.875rem;
  padding: 0 0 2.625rem 4.563rem;
}

.product-title {
  font-weight: 700;
  font-size: 2.5rem;
  color: var(--very-dark-blue);
  margin-bottom: 1.875rem;
}

.prod-text-wrapper p:first-child {
  margin-bottom: 0.875rem;
}

.prod-text-wrapper p:nth-child(2) {
  margin-bottom: 0.938rem;
}

.product-link-wrapper {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  border-bottom: 1px solid var(--moderate-cyan);
  width: fit-content;
}

.product-link {
  color: var(--moderate-cyan);
}

.product-link:hover {
  font-weight: 600;
}

.testimonial {
  background-color: #fff;
  max-width: 22.188rem;
  width: 100%;
  padding: 2.063rem 2.314rem;
  border-radius: 4px;
  margin-top: 2.814rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.testimonial-header {
  padding-bottom: 0.5rem;
}

.testimonial-header > svg {
  color: var(--very-dark-blue);
}

.testimonial-body {
  color: var(--very-dark-blue);
  font-size: 0.814rem;
  line-height: 1.8;
}

.testimonial-footer {
  display: flex;
  gap: 0.5rem;
  margin-top: 0.75rem;
}

.testimonial-img {
  border-radius: 50%;
  width: 1.875rem;
  height: 1.875rem;
}

/* .avatar-info {
} */

.avatar-name {
  font-size: 0.75rem;
}

.avatar-role {
  font-size: 0.563rem;
}

@media only screen and (max-width: 90rem) {
  .product-title {
    text-wrap: balance;
  }
  .product-wrapper {
    text-align: center;
  }

  .prod-text-wrapper {
    text-align: left;
    margin-bottom: 1.875rem;
  }

  .product-link-wrapper {
    margin: 0 auto;
  }

  .testimonial {
    margin: 0 auto;
    margin-top: 2.814rem;
    text-align: left;
  }

  .product-col-2 {
    margin-bottom: 3.125rem;
  }
}

@media only screen and (max-width: 41.25rem) {
  .product-title {
    font-size: 1.125rem;
  }

  .testimonial {
    text-wrap: balance;
  }

  .product-col-1 {
    min-width: fit-content;
  }

  .product-col-2 {
    min-width: fit-content;
  }
}
