.submit-button {
  all: unset;
  border-radius: 3px;
  background-color: var(--bright-blue);
  color: #fff;
  cursor: pointer;
  font-size: 0.875rem;
  width: 12.5rem;
  display: grid;
  place-content: center;
  height: 3.125rem;
}

.submit-button:hover {
  opacity: 0.8;
}
